.register {
  text-align: center;
  width: 1300px;
  height: 500px;
}

.register p {
  color: #aaa;
}

.register form{
  background: #FFF;
  width: 1500px;
  height: 350px;
 
}

.register img{
  position: absolute;
  top: 120px;
  right: 100px;
  width: 550px;
  height: 520px;
}
