.teste_container{
    text-align: center;
    
}

.teste_container{
    background-color: #e6e6e6;
    position: absolute;
    left: 25%;
    transform: translateX(-10%);
    top: 32%;
    transform: translateY(-60%);
    width: 300px;
    height: 230px;
    border: 1px solid black;
    text-align: center;
  
}

.teste_container2{
    background-color: #e6e6e6;
    position: absolute;
    left: 25%;
    transform: translateX(-50%);
    top: 63%;
    transform: translateY(-50%);
    width: 300px;
    height: 230px;
    border: 1px solid black;
    text-align: center;
  
}

.teste_container2 img{
    width: 80px;
    height: 60px;
}

.teste_container3{
background-color: #e6e6e6;
position: absolute;
position: absolute;
top: 350px;
right: 400px;
transform: translateX(-50%);
transform: translateY(-100%);
width: 300px;
height: 230px;
border: 1px solid black; 
text-align: center;
}

.teste_container3 img{
    width: 80px;
height: 70px;
}


.teste_container4{
    background-color: #e6e6e6;
    position: absolute;
    top: 630px;
    right: 400px;
    transform: translateX(-50%);
    transform: translateY(-100%);
    width: 300px;
    height: 230px;
    border: 1px solid black; 
    text-align: center;
}

.teste_container4 img{
    width: 80px;
height: 60px;
}

  .teste_container :link {
    position: absolute;
    top: 180px;
    right: 100px;
    background-color: #4CAF50; /* cor de fundo */
    border: none; /* remove a borda */
    color: white; /* cor do texto */
    padding: 10px 20px; /* espaçamento interno */
    text-align: center; /* alinhamento do texto */
    display: inline-block; /* exibe como bloco */
    font-size: 16px; /* tamanho da fonte */
    transition-duration: 0.4s; /* duração da transição */
    cursor: pointer; /* cursor ao passar o mouse */
    border-radius: 8px; /* borda arredondada */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* sombra */
  }

  .teste_container2 :link {
    position: absolute;
    top: 180px;
    right: 100px;
    background-color: #4CAF50; /* cor de fundo */
    border: none; /* remove a borda */
    color: white; /* cor do texto */
    padding: 10px 20px; /* espaçamento interno */
    text-align: center; /* alinhamento do texto */
    display: inline-block; /* exibe como bloco */
    font-size: 16px; /* tamanho da fonte */
    transition-duration: 0.4s; /* duração da transição */
    cursor: pointer; /* cursor ao passar o mouse */
    border-radius: 8px; /* borda arredondada */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* sombra */
  }

.teste_container3 :link {
    position: absolute;
    top: 180px;
    right:100px;
    background-color: #4CAF50; /* cor de fundo */
    border: none; /* remove a borda */
    color: white; /* cor do texto */
    padding: 10px 20px; /* espaçamento interno */
    text-align: center; /* alinhamento do texto */
    display: inline-block; /* exibe como bloco */
    font-size: 16px; /* tamanho da fonte */
    transition-duration: 0.4s; /* duração da transição */
    cursor: pointer; /* cursor ao passar o mouse */
    border-radius: 8px; /* borda arredondada */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* sombra */
  }
  .teste_container4 :link {
    position: absolute;
    top: 180px;
    right:100px;
    background-color: #4CAF50; /* cor de fundo */
    border: none; /* remove a borda */
    color: white; /* cor do texto */
    padding: 10px 20px; /* espaçamento interno */
    text-align: center; /* alinhamento do texto */
    display: inline-block; /* exibe como bloco */
    font-size: 16px; /* tamanho da fonte */
    transition-duration: 0.4s; /* duração da transição */
    cursor: pointer; /* cursor ao passar o mouse */
    border-radius: 8px; /* borda arredondada */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* sombra */
  }

  .teste_container img{
width: 80px;
height: 60px;
  }
 

